.projects-index-list{:style => "height: auto;"}
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "1", "data-project-id" => "214072"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3136751/original/e2a4e070-f6c4-4fb1-bd76-aa8ccc43be6e?1538727646", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3136751/original/e2a4e070-f6c4-4fb1-bd76-aa8ccc43be6e?1538727646", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              インターンシップ
          %h1.project-title
            %a{:href => "/projects/214072?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=1&page=1"} チームラボのものづくりを体感するインターンシップ
          %p.project-excerpt【インターンシップ内容】
          %br■エンジニア
          %br チームメンバーの一員として、プロジェクトに参加したり、開発課題に取り組みます。コードレビューやディスカッションを通じて、エンジニアとしての働き方を学べます。
          選考の際に、プログラムで得意な分野...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/team-lab"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/592/original/ef2f4cf1-8cc8-4251-be5e-d60182e91934.png?1455592110", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/592/original/ef2f4cf1-8cc8-4251-be5e-d60182e91934.png?1455592110", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/team-lab"} チームラボ株式会社
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              5ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"チームラボ株式会社\",\"title\":\"チームラボのものづくりを体感するインターンシップ\",\"id\":214072,\"url\":\"https://www.wantedly.com/projects/214072\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3136751/original/e2a4e070-f6c4-4fb1-bd76-aa8ccc43be6e?1538727646\"}", "data-project-id" => "214072", "data-support-project-button-react" => "", "data-twitter-share-text" => "チームラボのものづくりを体感するインターンシップ by チームラボ株式会社 (@teamlab_recruit)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "214072"} 18
          .bookmark-button{"data-project-id" => "214072"}
            %form.button_to{:action => "/projects/214072/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "K4Sig3C56evRF8JJsOiUxkJ3L90ZFhZw62O2HTVvdGsfxAr6UXpsOk2Y7GA+KCa166NmD8CoJ9UgbGkdovBxiA=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "2", "data-project-id" => "248563"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3154202/original/5e33d086-35a1-4fd9-89f0-baefc0e0c789?1539417642", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3154202/original/5e33d086-35a1-4fd9-89f0-baefc0e0c789?1539417642", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              ブランドプロデューサー
          %h1.project-title
            %a{:href => "/projects/248563?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=2&page=1"} 新規韓国コスメブランドを0から作り上げるブランドプロデューサーを募集！
          %p.project-excerpt
            新規韓国コスメブランド「Dusping」のブランドプロデューサーを募集いたします！
            %br
            ◆募集職種
            %br
            ブランドプロデューサー
            %br
          ◆業務内容
          %br
          商品企画開発
          %br
          販売商品の選定
          %br
          ショップ運営
          %br
          SNSコンテンツの作成
          %br
          ブランディング
          %br
            ◆応募資...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/bordi"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/2863906/original/0b324bd7-add3-4fc0-a330-4868a5fee324?1528103254", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/2863906/original/0b324bd7-add3-4fc0-a330-4868a5fee324?1528103254", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/bordi"} 株式会社Bordi
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              12日前
          .wt-ui-support-button
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社Bordi\",\"title\":\"新規韓国コスメブランドを0から作り上げるブランドプロデューサーを募集！\",\"id\":248563,\"url\":\"https://www.wantedly.com/projects/248563\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3154202/original/5e33d086-35a1-4fd9-89f0-baefc0e0c789?1539417642\"}", "data-project-id" => "248563", "data-support-project-button-react" => "", "data-twitter-share-text" => "新規韓国コスメブランドを0から作り上げるブランドプロデューサーを募集！ by 株式会社Bordi", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "248563"} 18
          .bookmark-button{"data-project-id" => "248563"}
            %form.button_to{:action => "/projects/248563/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "X94h+E7rYAmMtF6o8eP2KwxGf0Grlk2iEfHgYtRZPDRrnomBbyjl2BA7cIF/I0RYpZI2k3IofAfa/j9iQ8Y51w=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "3", "data-project-id" => "230676"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3008695/original/a9c2cdcf-b757-4030-a1b2-f076c5dadda0?1533618840", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3008695/original/a9c2cdcf-b757-4030-a1b2-f076c5dadda0?1533618840", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              WEB編集アシスタント
          %h1.project-title
            %a{:href => "/projects/230676?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=3&page=1"} ViVi WEB編集部の学生編集アシスタントを募集します！
          %p.project-excerpt
            弊社が運営するViVi 編集部のオリジナルコンテンツを作成する、学生編集アシスタント（業務委託）を募集します。（https://www.vivi.tv/）
            %br【業務内容】 ・オリジナルWEB記事の取材・原稿もしくは動画の制作（CMSを...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/vivi"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/2993714/original/4a89a581-b7ae-408d-940c-23f139957f6f?1533620358", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/2993714/original/4a89a581-b7ae-408d-940c-23f139957f6f?1533620358", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/vivi"} 講談社 ViVi編集部
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              1ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"講談社 ViVi編集部\",\"title\":\"ViVi WEB編集部の学生編集アシスタントを募集します！\",\"id\":230676,\"url\":\"https://www.wantedly.com/projects/230676\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3008695/original/a9c2cdcf-b757-4030-a1b2-f076c5dadda0?1533618840\"}", "data-project-id" => "230676", "data-support-project-button-react" => "", "data-twitter-share-text" => "ViVi WEB編集部の学生編集アシスタントを募集します！ by 講談社 ViVi編集部 (@vivi_magazine)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "230676"} 2
          .bookmark-button{"data-project-id" => "230676"}
            %form.button_to{:action => "/projects/230676/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "zOLLOYXBrJf8yDTYUaBPT02XUWzr+r1fRVwgSr5GIP74omNApAIpRmBHGvHfYP085EMYvjJEjPqOU/9KKdklHQ=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "4", "data-project-id" => "184379"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2016944/original/46f17f53-0109-4bff-acba-d5dc73031895?1516807715", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2016944/original/46f17f53-0109-4bff-acba-d5dc73031895?1516807715", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              新卒総合職（経営幹部候補）
          %h1.project-title
            %a{:href => "/projects/184379?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=4&page=1"} 〈新卒〉日本と世界の社会問題をビジネスで解決。21世紀にインパクトを！
          %p.project-excerpt
            ◆東京・大阪・福岡・広島で説明会を開催中！
            %br
            個別面談やスカイプ面談も可能です。
            %br
            ご応募いただた後、今後についてご相談させてください。
            %br
            ◆総合職（経営幹部候補）
            %br
            セールス、Webマーケティング、エンジニア、デザイナー
            %br
            カスタマーサ...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/rejob"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/37940/original/0fdcee75-6e78-47a9-a4e8-42f87ea6a0b9?1522158358", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/37940/original/0fdcee75-6e78-47a9-a4e8-42f87ea6a0b9?1522158358", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/rejob"} 株式会社リジョブ
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              9ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社リジョブ\",\"title\":\"〈新卒〉日本と世界の社会問題をビジネスで解決。21世紀にインパクトを！\",\"id\":184379,\"url\":\"https://www.wantedly.com/projects/184379\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/2016944/original/46f17f53-0109-4bff-acba-d5dc73031895?1516807715\"}", "data-project-id" => "184379", "data-support-project-button-react" => "", "data-twitter-share-text" => "〈新卒〉日本と世界の社会問題をビジネスで解決。21世紀にインパクトを！ by 株式会社リジョブ (@re_job)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "184379"} 16
          .bookmark-button{"data-project-id" => "184379"}
            %form.button_to{:action => "/projects/184379/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "FcBGUAU9Ba5BdqZJHL7E+A35NV2QLvYfk6Zi+LRaUpYhgO4pJP6Af935iGCSfnaLpC18j0mQx7pYqb34I8VXdQ=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "5", "data-project-id" => "159874"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/1842521/original/cd0d4eee-1328-4d55-99ac-6613c992e798?1507777362", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/1842521/original/cd0d4eee-1328-4d55-99ac-6613c992e798?1507777362", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              総合職全般
          %h1.project-title
            %a{:href => "/projects/159874?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=5&page=1"} 《19新卒》「新しい文化を創る」ミクシィグループを担うメンバーを募集
          %p.project-excerpt
            ミクシィグループの総合職は、キャリアの選択肢が幅広いです。それは、サービス企画、ディレクション、マーケティング、アライアンス、数値分析などものづくりに必要なあらゆる仕事を経験してもらえる環境があるためです。一人一人がプロフェッショナル...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/mixi"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/4320/original/1ad0dbd7-95d0-4288-b3ba-928fb903471f?1518161897", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/4320/original/1ad0dbd7-95d0-4288-b3ba-928fb903471f?1518161897", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/mixi"} 株式会社ミクシィ
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              1年前
          .wt-ui-support-button
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社ミクシィ\",\"title\":\"《19新卒》「新しい文化を創る」ミクシィグループを担うメンバーを募集\",\"id\":159874,\"url\":\"https://www.wantedly.com/projects/159874\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/1842521/original/cd0d4eee-1328-4d55-99ac-6613c992e798?1507777362\"}", "data-project-id" => "159874", "data-support-project-button-react" => "", "data-twitter-share-text" => "《19新卒》「新しい文化を創る」ミクシィグループを担うメンバーを募集 by 株式会社ミクシィ", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "159874"} 56
          .bookmark-button{"data-project-id" => "159874"}
            %form.button_to{:action => "/projects/159874/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "mrAOZlj7VcIhAoIpfPuN6o3nQAfY8OHDkJIzvqcbUciu8KYfeTjQE72NrADyOz+ZJDMJ1QFO0GZbney+MIRUKw=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "6", "data-project-id" => "234012"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3024851/original/ffcd39e3-54fc-4f01-942b-dea7b5a4c292?1534299666", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3024851/original/ffcd39e3-54fc-4f01-942b-dea7b5a4c292?1534299666", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              カメラマン
          %h1.project-title
            %a{:href => "/projects/234012?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=6&page=1"} アルバイト歓迎！大人気アパレルブランドのカメラマン募集！！
          %p.project-excerpt
            ３ミニッツが展開するレディースアパレルブランド『eimy istoire』の商品撮影カメラマンを募集します。
            %br【業務内容】
            %br・商品、モデルを使ったスチール撮影
          %br・レタッチ作業
          %br・撮影の進行管理
          %br【必要な経験 / スキル】
          %br・カ...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/3minute-inc"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/43892/original/5e3dd439-bcef-4cbd-b6fc-b8db7c44ab6c?1500475272", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/43892/original/5e3dd439-bcef-4cbd-b6fc-b8db7c44ab6c?1500475272", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/3minute-inc"} 株式会社３ミニッツ
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              2ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社３ミニッツ\",\"title\":\"アルバイト歓迎！大人気アパレルブランドのカメラマン募集！！\",\"id\":234012,\"url\":\"https://www.wantedly.com/projects/234012\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3024851/original/ffcd39e3-54fc-4f01-942b-dea7b5a4c292?1534299666\"}", "data-project-id" => "234012", "data-support-project-button-react" => "", "data-twitter-share-text" => "アルバイト歓迎！大人気アパレルブランドのカメラマン募集！！ by 株式会社３ミニッツ (@3minute_inc)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "234012"} 12
          .bookmark-button{"data-project-id" => "234012"}
            %form.button_to{:action => "/projects/234012/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "gwv5ehCkUPEG2TKp8TpCQVK/KpT4EsljDwNbnCBwss63S1EDMWfVIJpWHIB/+vAy+2tjRiGs+MbEDISct++3LQ=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "7", "data-project-id" => "251368"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/3176798/original/63a65fee-cbf3-4270-a000-785f7a633752?1540260226", :height => "228", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              カスタマーサポート
            %span.icon-new NEW
          %h1.project-title
            %a{:href => "/projects/251368?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=7&page=1"} 買わない家具文化を目指し、新たなUXを提供できるカスタマーサポート募集！
        %p.project-excerpt
          CLAS（クラス）のカスタマーサポート業務を担う人材を募集しています。
          %br
          主に電話、メール、チャットでの顧客対応となります。
          %br
          ＜必須条件＞
          %br
          CLASのビジョン・バリューに共感し、実践でき、ともに挑戦できること。
          %br
          そして、私たちが目指す...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/CLAS"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/2817168/original/31421cb7-b63e-4d93-84f1-b707ea365df1?1526144091", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/CLAS"} 株式会社クラス
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              1日前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社クラス\",\"title\":\"買わない家具文化を目指し、新たなUXを提供できるカスタマーサポート募集！\",\"id\":251368,\"url\":\"https://www.wantedly.com/projects/251368\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/3176798/original/63a65fee-cbf3-4270-a000-785f7a633752?1540260226\"}", "data-project-id" => "251368", "data-support-project-button-react" => "", "data-twitter-share-text" => "買わない家具文化を目指し、新たなUXを提供できるカスタマーサポート募集！ by 株式会社クラス (@CLAS_official)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "251368"} 2
          .bookmark-button{"data-project-id" => "251368"}
            %form.button_to{:action => "/projects/251368/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "rRM+lrINoTJG6b3tD+VwLGBYrPC7XQknrBDppDj4VDeZU5bvk84k49pmk8SBJcJfyYzlImLjOIJnHzakr2dR1A=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "8", "data-project-id" => "223687"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2942105/original/1b53b68d-f945-4bfe-ab85-4880b070fd2f?1531213653", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2942105/original/1b53b68d-f945-4bfe-ab85-4880b070fd2f?1531213653", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              グローバル総合職
          %h1.project-title
            %a{:href => "/projects/223687?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=8&page=1"} 20新卒!!1年目から世界を舞台に活躍したい学生必見!海外出張100％!
          %p.project-excerpt
            新卒1年目の1年間で海外出張5回、内定者がインターンとして1人で海外出張...恐らくトップクラスで若手が海外に出てチャレンジするチャンスの多い会社です！
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/4th-valley"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/27654/original/9f37a2b1-0ea8-4a04-ab9b-e5a413ebe98a.jpeg?1406088459", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/27654/original/9f37a2b1-0ea8-4a04-ab9b-e5a413ebe98a.jpeg?1406088459", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/4th-valley"} フォースバレー・コンシェルジュ株式会社
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              4ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"フォースバレー・コンシェルジュ株式会社\",\"title\":\"20新卒!!1年目から世界を舞台に活躍したい学生必見!海外出張100％!\",\"id\":223687,\"url\":\"https://www.wantedly.com/projects/223687\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/2942105/original/1b53b68d-f945-4bfe-ab85-4880b070fd2f?1531213653\"}", "data-project-id" => "223687", "data-support-project-button-react" => "", "data-twitter-share-text" => "20新卒!!1年目から世界を舞台に活躍したい学生必見!海外出張100％! by フォースバレー・コンシェルジュ株式会社", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "223687"} 6
          .bookmark-button{"data-project-id" => "223687"}
            %form.button_to{:action => "/projects/223687/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "sGvyafOdrfMUYgCUGR8jCpFfuZVk7odGNBTrNXq7dAmEK1oQ0l4oIojtLr2X35F5OIvwR71QtuP/GzQ17SRx6g=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "9", "data-project-id" => "202132"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2752859/original/f4c2e2d0-470a-4c76-9d1b-5bd6d9e3947c?1524102572", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/2752859/original/f4c2e2d0-470a-4c76-9d1b-5bd6d9e3947c?1524102572", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              新卒／インターン
          %h1.project-title
            %a{:href => "/projects/202132?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=9&page=1"} 成長率250%の動画メディアで活躍したい学生募集！！
          %p.project-excerpt
            動画メディアで活躍したい学生を募集！
            %br
            ONE MEDIAでは20年新卒採用に向けた長期インターンシップの募集をいたします。
            %br
            長期インターンシップへご参加いただいた後、面談を実施し新卒として採用いたします。
            %br【ポジション例】
            %br■ディ...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/onemedia"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/1706801/original/0a74e909-b73f-4a43-8bfd-55f31ca70b4f?1510141815", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/1706801/original/0a74e909-b73f-4a43-8bfd-55f31ca70b4f?1510141815", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/onemedia"} ワンメディア株式会社
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              6ヶ月前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"ワンメディア株式会社\",\"title\":\"成長率250%の動画メディアで活躍したい学生募集！！\",\"id\":202132,\"url\":\"https://www.wantedly.com/projects/202132\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/2752859/original/f4c2e2d0-470a-4c76-9d1b-5bd6d9e3947c?1524102572\"}", "data-project-id" => "202132", "data-support-project-button-react" => "", "data-twitter-share-text" => "成長率250%の動画メディアで活躍したい学生募集！！ by ワンメディア株式会社 (@onemediajp)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "202132"} 24
          .bookmark-button{"data-project-id" => "202132"}
            %form.button_to{:action => "/projects/202132/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "r1yW8MN4xJGZe07BMoUzFcxs0VdxnQ1A/oPCVTDACi6bHD6J4rtBQAX0YOi8RYFmZbiYhagjPOU1jB1Vp18PzQ=="}/
  %article.projects-index-single{"data-filter-params" => "{\"country\":\"japan\",\"authorized\":true,\"occupation_types\":[\"others\"],\"hiring_types\":[\"newgrad\",\"internship\"]}", "data-page" => "1", "data-position" => "10", "data-project-id" => "155262"}
    .project-index-single-outer
      .project-index-single-inner
        .project-cover-wrapper
          .cover-image
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/1812449/original/f6de551c-bb19-45f6-80d6-b39bdcc8fef9?1522935360", :height => "228", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=1120,dh=456,da=s,ds=s,cw=1120,ch=456,cc=FFFFFF)/assets/images/1812449/original/f6de551c-bb19-45f6-80d6-b39bdcc8fef9?1522935360", :style => "", :width => "560"}/
        .project-detail
          .project-labels
            %span.job-type-tag.project-label-item.others
              広報・PRコンサルタント
          %h1.project-title
            %a{:href => "/projects/155262?filter_params%5Bauthorized%5D=true&filter_params%5Bcountry%5D=japan&filter_params%5Bhiring_types%5D%5B%5D=newgrad&filter_params%5Bhiring_types%5D%5B%5D=internship&filter_params%5Boccupation_types%5D%5B%5D=others&filter_type=mixed&list=10&page=1"} 事業拡大中！広報PRコンサルタント、広報PRアシスタント募集！未経験OK
          %p.project-excerpt
            広報とPRの経験があるものの、なんか物足りない。もっと活躍したい。もっと人の役に立ちたい。もっと人に喜んでもらいたい。もっと自分の力を根こそぎ使いたい。そして自分で会社もやってみたい！…等とモヤモヤしている方。2016年10月に立ち上...
      .project-bottom
        .company-thumbnail
          %a.wt-company{:href => "/companies/frontstage-pr"}
            %img{"data-original" => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/680664/original/7416fd9a-ca02-49f4-a35d-66ab448e4b02.png?1477447796", :height => "50", :onerror => "this.src = \"https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png\";", :src => "https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=100,dh=100,da=l,ds=s,cw=100,ch=100,cc=FFFFFF)/assets/images/680664/original/7416fd9a-ca02-49f4-a35d-66ab448e4b02.png?1477447796", :style => "", :width => "50"}/
        .company-name
          %h3
            %a.wt-company{:href => "/companies/frontstage-pr"} 株式会社フロントステージ
        .actions-and-metas
          .published-date
            %i.icon-time
              = fa_icon 'clock'
            .character
              約1年前
          .wt-ui-support-button
            %a.project-support-link{"data-project" => "{\"companyName\":\"株式会社フロントステージ\",\"title\":\"事業拡大中！広報PRコンサルタント、広報PRアシスタント募集！未経験OK \",\"id\":155262,\"url\":\"https://www.wantedly.com/projects/155262\",\"imageUrl\":\"https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=560,dh=229,da=s,ds=s,cw=560,ch=229,cc=FFFFFF)/assets/images/1812449/original/f6de551c-bb19-45f6-80d6-b39bdcc8fef9?1522935360\"}", "data-project-id" => "155262", "data-support-project-button-react" => "", "data-twitter-share-text" => "事業拡大中！広報PRコンサルタント、広報PRアシスタント募集！未経験OK  by 株式会社フロントステージ (@emilabo)", "data-user-id" => "85521318", :role => "presentation"}
              %i.wt-icon.wt-icon-support
                📢
              %span.wt-support-count{"data-project-id" => "155262"} 20
          .bookmark-button{"data-project-id" => "155262"}
            %form.button_to{:action => "/projects/155262/bookmarks.js", "data-remote" => "true", :method => "post"}
              %button.bookmark-submit-button{:type => "submit"}
                %i.wt-icon.wt-icon-bookmark-o-2
                  = fa_icon 'bookmark'
              %input{:name => "authenticity_token", :type => "hidden", :value => "V7mSun5eLo3jyY1mxjXwJf4la/YErOofJ51DeLMifXlj+TrDX52rXH9Go09I9UJWV/EiJN0S27rskpx4JL14mg=="}/
      .project-index-pagination
.set-column-side
  .column-side
    .data-react-component
      .container-base
        .contener-header
          %h4 検索条件
          %a.wt-icon-text-square
            = fa_icon 'file-alt'
          .container-reset
            %img.reset-icon{:height => "16", :src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_remove-af842f5695ae60fd91f2f0005563ab99.svg"}/
        .contener-body
          .filter-selector-with-pulldown.BasicSelectorAbstract--base{"data-selector" => "occupationType"}
            .BasicSelectorAbstract--pulldown
              %span.BasicSelectorAbstract--selected-items-summary その他
              %h5.BasicSelectorAbstract--selector-name
                職種
                %img{:height => "6", :src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_pull-16f7cc3a32dd0cb11eb07e44d24b409c.jpg", :width => "16"}/
            .BasicSelectorAbstract--pulldown-content{:style => "display: none; z-index: 101;"}
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label エンジニア
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label デザイナー
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label ディレクター
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label コーポレート・スタッフ
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label セールス
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label マーケティング
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label ライター
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label その他
                %nav.BasicSelectorAbstract--icon
                  %img{:src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_check-5460f2d78a75d5e04dee9753cc99c82a.svg", :width => "16"}/
          .filter-selector-with-pulldown.BasicSelectorAbstract--base{"data-selector" => "hiringType"}
            .BasicSelectorAbstract--pulldown
              %span.BasicSelectorAbstract--selected-items-summary 新卒採用, インターン・学生バイト
              %h5.BasicSelectorAbstract--selector-name 採用形態
              %img{:height => "6", :src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_pull-16f7cc3a32dd0cb11eb07e44d24b409c.jpg", :width => "16"}/
            .BasicSelectorAbstract--pulldown-content{:style => "display: none; z-index: 100;"}
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label 新卒採用
                %span.BasicSelectorAbstract--icon
                  %img{:src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_check-5460f2d78a75d5e04dee9753cc99c82a.svg", :width => "16"}/
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label インターン・学生バイト
                %span.BasicSelectorAbstract--icon
                  %img{:src => "https://de7iszmjjjuya.cloudfront.net/assets/build/icon_check-5460f2d78a75d5e04dee9753cc99c82a.svg", :width => "16"}/
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label 中途採用
              %li.BasicSelectorAbstract--item
                %span.BasicSelectorAbstract--label 副業・契約・委託
          .SelectedList-base
          .filter-search-with-items.SearchBox--base
            %span.wt-icon.wt-icon-search-short-o-1.SearchBox--search-icon
              = fa_icon 'search'
            %input.SearchBox--search{:placeholder => "地域や特徴などの条件を追加", :type => "text", :value => ""}/
          .OptionalSelectorAbstract--base{:style => "display: block; margin-bottom: 8px;"}
            %h5.OptionalSelectorAbstract--selector-name
            %ul.OptionalSelectorAbstract--items{:style => "height: 140px;"}
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  wed
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  サポート
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  コンサルティング
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  プランナー
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  ビジネス
                %span
          .ProjectFilterContainer--separator
          .OptionalSelectorAbstract--base{:style => "display: none;"}
            %h5.OptionalSelectorAbstract--selector-name 分野
            %ul.OptionalSelectorAbstract--items{:style => "height: 0px;"}
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  Web エンジニア
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  モバイルエンジニア
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  インフラエンジニア
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  UI/UX デザイナー
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  グラフィックデザイナー
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  医師
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  歯科医師
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  看護師
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  薬剤師
                  %span
          .OptionalSelectorAbstract--base{:style => "display: block;"}
            %h5.OptionalSelectorAbstract--selector-name 地域
            %ul.OptionalSelectorAbstract--items{:style => "height: 56px;"}
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  東京
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  大阪
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  名古屋
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  京都
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  福岡
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  札幌
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  北海道・東北
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  関東
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  北陸・甲信越
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  東海
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  近畿
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  中国・四国
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  九州・沖縄
                  %span
            %span.OptionalSelectorAbstract--leader さらに表示
          .OptionalSelectorAbstract--base{:style => "display: block;"}
            %h5.OptionalSelectorAbstract--selector-name 特徴
            %ul.OptionalSelectorAbstract--items{:style => "height: 84px;"}
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  友達と一緒に訪問OK
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  学生さんも歓迎
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: flex; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  ランチをご馳走します
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  Wantedlyに初登場
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  TechCrunchに掲載実績あり
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  海外進出している
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  社長が20代
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  社長がプログラミングできる
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  1億円以上の資金を調達済み
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  3000万円以上の資金を調達済み
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  Skypeで話を聞ける
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  留学生さん歓迎
                  %span
              %li.OptionalSelectorAbstract--item{:style => "display: none; height: 28px;"}
                %span.OptionalSelectorAbstract--label
                  週末からのコミットでもOK
                  %span
            %span.OptionalSelectorAbstract--leader さらに表示
/ = render 'shared/main-footer'
